@media only screen and (max-width: 576px)  {

  .in{
      margin-bottom: 100px;
      margin-top: 50px !important;
  }

    .status{
        font-size: 30px !important; 
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .jogo{
        font-size: 25px !important; 
    }

    .inicio-item img{
        width: 90px;
        height: 110px;
    }

    .inicio-item p{
        font-size: 20px; 
        margin-top: 0;
        margin-bottom: 17px;
        margin-left: 0;
        margin-right: 0;
    }
    
    .inicio-item .titulo{
        font-size: 28px;
    }

    h1.h3{
        font-size: 50px;
        margin-top: -60px;
    }

    i{
        margin-top: 70vh;
    }

    .prev-left{
        margin-left: 35%;

    }
    
    .prev-right{
        margin-right: 35%;
    }

    .placar{
        margin-top: 5px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 50px;
        font-size: 20px;    
        text-align: center;
    }

    .placar .pts{
        font-size: 10px;
        margin-bottom: 0px;
    }
    
    .placar .pla{
        font-size: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .bg-texto-nome{
        font-size: 10px;
    }

    .vit{
        font-size: 13px;
    }

    tr{
        font-size: 15px;
    }

    h2{
        font-size: 20px;
        margin-bottom: -10px;
    }

    td{
        font-size: 15px;
    }

    .pagination{
        margin: 0%;
    }

    .pag-link{
        font-size: 30px;
        padding: 0;
    }
    
    .active {
        font-size: 30px;
        padding: 0;
    }


    table .jog td{
        font-size: 12px;
    }

    #jogos tbody.peq td{
        font-size: 18px !important;
    }
    
    .modal-tam{
        width: 70%;
    }

    .modal-bg-titulo{
        font-size: 30px;
    }

    .modal-tam-label{
        font-size: 17px;
        padding-top: 0;
    }

    .form-group a{
        font-size: 19px;
    }

    .form-group .btn-logar{
        font-size: 15px;
    }
}