@media only screen and (max-width: 576px)  {


	/* .inicio-item .resp{
		margin-top: -20px;
	} */

	/* .inicio-item select{
		width: 115px;
	}	 */

	.inicio-item h1{
		font-size: 25px;
	}

	/* .cabecalho th:not(.d-lg-none) {
		display: none;
	} */

	.inicio-item .labels:not(.jj){
		font-size: 18px;
	}

	.inicio-item .x{
		color: #0BB511;
		font-size: 60px;
		font-family: arial;
	}

	.inicio-item .sf{
		margin-right: 100px;
	}

	.inicio-item .jcc{
		margin-top: -20px; 
		margin-left: 155px;
	}

	.confronto{
		font-size: 25px !important; 

	}

	td{
		font-size: 14px;
	}

	td .checkmark {
		position: absolute;
		top: 6px;
		left: 20px;
		height: 15px;
		width: 15px;
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 50%;
		border: 1px solid white;
	}

}