*{
    font-family: "Roboto Slab";
}

body{
    background: radial-gradient(white, rgba(0,0,0,0.4)), url(../img/jepap.png) center/cover fixed no-repeat;
}

body::-webkit-scrollbar-track {
    background-color: #0BB511;
}

body::-webkit-scrollbar {
    width: 10px;
    background:white;
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
}

.nav-principalAdmin{
    background-color: #565050;
}

.nav-principalAdmin .navbar-toggler{
    border: none;
}

.nav-principalAdmin,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-principalAdmin .navbar-toggler-icon {
    /*muda a cor do icon para verde*/
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(11,181,17,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-principalAdmin .navbar-toggler-icon:hover{
    transform: rotate(90deg) scale(1.3);
    transition: all 0.3s ease-in-out;
}

.nav-principalAdmin a:not(.inicio){
    color: #0BB511;
    text-decoration: none;
}

.nav-principalAdmin .nav-item .dropdown-menu{
    background-color: #0BB511;
    border-radius: 0;
}

.nav-principalAdmin .nav-item .dropdown-menu a{
    color: #565050;
    font-size: 20px;
}

.nav-principalAdmin .nav-item .dropdown-menu a:hover{
    color: white;
    transition: all 0.3s ease-in-out;
    background: none;
}

.msg{
    z-index: 999;
    margin-top: 100px;
}

.inicio-item{
    background: rgba(0, 0, 0, 0.6); 
}

.inicio-item .col-form-label{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.inicio-item .labels{
    color: #0BB511;
    font-size: 23px;
    text-align: center;
}

.inicio-item .checKBox{
    margin-top: -10px;
}


.inicio-item .cont{
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
}

.inicio-item .fase{
    color: white;
    margin-top: 3px;
    margin-bottom: -13px;
    font-size: 25px;
}

.inicio-item .sf{
    margin-right: -80px;
}

.inicio-item .f{
    margin-right: 30px;
}

.inicio-item .x{
    color: #0BB511;
    font-size: 70px;
    font-family: arial;
}

.inicio-item input{
    border: none;
    font-family: arial;
    border-radius: 0;
    color: black;
}

.inicio-item input:focus{
    box-shadow: none;
}

.inicio-item select{
    border: none;
    font-family: arial;
    border-radius: 0;
    color: black;
}

.inicio-item .desativado{
    background-color: #565050;
    color: white;
}

.inicio-item option{
    border: none;
    font-family: arial;
    border-radius: 0;
    color: white;
    background-color: #565050;
}


.inicio-item select:focus{
    box-shadow: none;
}


.inicio-item .btn-cad{
    background-color: #0BB511;
    color: #565050;
    border-radius: 0;
    font-size: 15px;
    margin-top: -30px;
}

.inicio-item .btn-cad:hover{
    color: black;
    transform: scale(1.1);
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}

.inicio-item .btn-cad:focus{
    box-shadow: none;
}

.inicio-item h1{
    font-size: 35px;
}

.inicio-item strong{
    color: #ff2400;
}


thead{
    background-color: #0BB511; 
}

tr:not(.cabecalho){
    border-bottom: 1px solid white;    
}


tr{
    font-size: 20px;
}

td{
    font-size: 15px;
}

td .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

td .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

td .checkmark {
    position: absolute;
    top: 2px;
    left: 20px;
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    border: 1px solid white;
}

td .container:hover input ~ .checkmark {
    background-color: white;
}

td .container input:checked ~ .checkmark {
    background-color: #0BB511;
    border: none;
}

td .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

td .container input:checked ~ .checkmark:after {
    display: block;
}

td i{
    color:rgba(0, 0, 0, 0.6);
}

td input[type="number"]{
    position: relative;
    padding: 0;
    padding-left: 3px;
    width: 20px;
    text-align: center;
}

td input[type="number"]:focus{
    outline: none;
    box-shadow: none;
}

td input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: black;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:0px;
    -webkit-transform: rotate(180deg);
}

 .prev-left{
    margin-top: 310px;
    margin-left: 10px;
}

.prev-right{
    margin-top: 310px;
    margin-right: 10px;

}

.checKBox .container {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 5px;
    cursor: pointer;
    font-size: 22px;
}

.checKBox .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checKBox .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    border: 1px solid white;
}

.checKBox .container:hover input ~ .checkmark {
    background-color: white;
}

.checKBox .container input:checked ~ .checkmark {
    background-color: #0BB511;
    border: none;
}

.checKBox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checKBox .container input:checked ~ .checkmark:after {
    display: block;
}

.checKBox .container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background:white;
}

/* paginação customizada
.pl{
font-size: 40px;
color: rgb(80, 70, 70);
}

.pl:hover:not(.dis){
text-decoration: none;
color: #0BB511;
} */


