*{
    font-family: "Roboto Slab";
}

body{
    background: radial-gradient(white, rgba(0,0,0,0.4)), url(../img/jepap.png) center/cover fixed no-repeat;
}

body::-webkit-scrollbar-track {
    background-color: #565050;
}

body::-webkit-scrollbar {
    width: 10px;
    background:white;
}

body::-webkit-scrollbar-thumb {
    background:rgba(0, 0, 0, 0.6);
}

.nav-principal{
    background-color: #0BB511;
}

.nav-principal .navbar-toggler{
    border: none;

}

.nav-principal,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-principal .navbar-toggler-icon:hover{
    transform: rotate(90deg) scale(1.3);
    transition: all 0.3s ease-in-out;
}

.nav-principal a:not(.inicio){
    color: #565050;
    text-decoration: none;
}

.nav-principal a:not(.inicio):hover{
    color: black !important;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.nav-principal .nav-item .dropdown-menu{
    background-color: #565050;
    border-radius: 0;
}

.nav-principal .nav-item .dropdown-menu a{
    color: #0BB511;
    font-size: 20px;
}

.nav-principal .nav-item .dropdown-menu a:hover{
    color: white;
    transition: all 0.3s ease-in-out;
    background: none;
}

.msg{
    z-index: 999;
    margin-top: 100px;
}

.inicio-item{
    background: rgba(0, 0, 0, 0.6);
}

.inicio-item .in{
    height: 70vh;
}

.inicio-item .titulo{
    color: #0BB511;
    font-size:50px;
}

.inicio-item p{
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 30px;
    margin-right: 30px;
}

.inicio-item img{
    width: 200px;
    height: 250px;
}

.inicio-item .inicio-status{
    color: white;   
}

.inicio-item .inicio-status .status{
    font-size: 40px;
}

h1.h3{
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -55px;
}

.placar{
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    font-size: 60px;    
}

.placar .pts{
    color: #0BB511; 
    font-size: 20px;
     margin-bottom: -15px;
}

.placar .pla{
    color: #0BB511; 
    font-size: 20px;
    font-weight: bold;
    margin-top: -12px;
    margin-bottom: 2px;
}

.bg-texto-nome{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    margin-bottom: -10px;
    font-size: 13px;
}

.vitoria{
    font-size: 25px;
}

i{
    color: rgba(0, 0, 0, 0.8);
    margin-top: 30%;
}

i:hover{
    color: #0BB511; 
}

 .prev-left{
    margin-left: -100px;
}

.prev-right{
    margin-right: -100px;
}

.vit{
    font-size: 13px;
    color: #0BB511;   
}




.cabecalho{
    background-color: #0BB511; 
}


tr:not(.cabecalho , .tc){
    border-bottom: 1px solid white;    
}

td{
    font-size: 25px;
}

.pag-link{
    background: none;
    border: none;
    color: black;
    font-size: 40px;
    padding: 0;
}

.pag-link:hover{
    color: #0BB511;
    text-decoration: none;
}

.active {
    background: none;
    border: none;
    color: #0BB511;
    font-size: 40px;
    padding: 0;
}

strong{
    color: #0BB511;
}

.myModal{
    background: rgba(0, 0, 0, 0.6);
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.modal-tam{
    width: 29%;
    margin: auto;
    margin-top: 5%;
    border: none;
}

.modal-bg-titulo{
    background-color: #0BB511;
    font-size: 48px;
}

.modal-tam-label{
    font-size: 23px;
    color: white;
    margin-top: -4px;   
}

.navbar-toggler{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.modal-login .input-group input{
    border: none;
    font-family: arial;
    border-radius: 0;
    color: black;
}

.modal-login .input-group strong{
    color: 	black;
    font-size: 12px;
}

.modal-login .input-group input:focus{
    box-shadow: none;
}

.form-group .btn-logar{
    background-color: #0BB511;
    color: #565050;
    border-radius: 0;
    font-size: 20px;
}

.form-group .btn-logar:hover{
    color: black;
    transform: scale(1.1);
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}

.form-group .btn-logar:focus{
    box-shadow: none;
}

.form-group a{
    color: white;
    text-decoration: none;
}

.form-group a:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}
  
  .hidden {
    display: none;
  }